ol
  margin 0 0 30px -24px
  font-size 12px
li
  margin-top 10px
.main
  padding 0 15px 0 15px
  .main >p
    font-size 12px
.title
  color #3c9efd
  text-align center
.sub-title
  margin-bottom: 0
  color #389ffe
.footer
  position absolute
  bottom 0